@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr;
    max-width: min(90vw, 1200px);
    margin: auto;
}

h2 {
    grid-column: span 2;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 5rem;
}

.description {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2rem;
}

p {
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
}

.cat-img {
    margin: auto;
    height: 400px;
}

/* Slide 1 */

.s1 {
    background: lightcoral;
}

/* Slide 2 */

.s2 {
    background: lightblue;
}

/* Slide 3 */

.s3 {
    background: lightgreen;
}

.s3 .container {
    grid-template-columns: 1fr;
}

.s3 p {
    text-align: center;
}

/* Slide 4 */

.s4 {
    background: lightsalmon;
}

/* Slide 5 */

.s5 {
    background: lightpink;
}

/* Slide 6 */

.s6 {
    background: lightskyblue;
}

/* Slide 7 */

.s7 {
    background: lightsteelblue;
}

/* Slide 8 */

.s8 {
    background: lightseagreen;
}

/* Slide 9 */

.s9 {
    background: lightcoral;
}

/* Slide 10 */

.s10 {
    background: lightgreen;
}

/* Slide 11 */

.s11 {
    background: lightpink;
}

/* Slide 12 */

.s12 {
    background: lightskyblue;
}

.s12 .container {
    grid-template-columns: 1fr;
}

.s12 .description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s12 ul {
    font-size: 1.25rem;
}

/* Cat Arm */

#cat-arm {
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center left;
    top: 50%;
    left: -150px;
    z-index: 1000;
    width: 600px;
    transition: left 0.5s;
}
